/*
    ====================================

    Assignment: Bootstrap B&B
    Name: Sarah Pasquale
        
    FileName: styles.css
    Last updated: 11/18/2024

    ====================================
*/

body {
    background-color: #CAC0B2;
}

.container_sep {
    width: 60%;
    margin: 25px auto;
}

.center_sep {
    text-align: center;
}

.contact-page_sep {
    width: 85%;
    margin: 25px auto;
}

@media screen and (max-width: 768px) {

    #carouselExampleFade {
        display: none;
    }

}