body {
    background-color: #CAC0B2
}

.container_sep {
    width: 60%;
    margin: 25px auto;
}

.center_sep {
    padding: none;
    text-align: center;
}

.contact-page_sep {
    width: 85%;
    margin: 25px auto;
}

@media screen and (max-width: 768px) {

    #carouselExampleFade {
        display: none;
    }

}